.all {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://i.pinimg.com/originals/9d/ef/63/9def639dec911f46220861c75da954a2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;
    overflow-x: hidden;
  }
  
  .paragraf {
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 20px;
    background-color: maroon;
    color: white;
  }
  
  .icon1 {
    color: red;
  }
  
  .instagram {
    background-image: "https://static.vecteezy.com/system/resources/previews/002/486/289/original/gradient-background-instagram-free-vector.jpg";
  }
  
  /* style Footer */
  .footer {
    border: 1px solid maroon;
    margin: 2px;
    margin-top: 50px;
    display: flex;
  }
  
  .kotak {
    display: flex;
    gap: 10px;
    padding: 15px;
  
  }
  
  .footerGerai {
    border: 1px solid maroon;
    border-radius: 20px;
    width: 259px;
    height: 260px;
    padding: 50px;
    display: block;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .alamat {
    border: 1px solid maroon;
    border-radius: 20px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    width: 259px;
    height: 260px;
    margin-top: 10px;
    text-align: center;
    background-color: white;
  }
  
  iframe {
    width: 200px;
    height: 200px;
  }
  
  .bullet {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    color: cornsilk;
    display: flex;
    gap: 10px;
  }
  
  
  .text-sosmed {
    border-radius: 15px;
    padding: 10px;
    color: cornsilk;
    background-color: maroon;
  }
  
  .sosmed {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
  }
  
  .icon {
    margin-left: 35px;
    width: 110px;
    display: flex;
    gap: 10px;
    font-size: 30px;
  }
  
  
  
  .copyright {
    text-align: center;
    border: 2px solid;
    margin: 2px;
    background-color: maroon;
    color: cornsilk;
  }
  
  .pembuka {
   text-align: center;
    color: maroon;
  }
  
  .warung {
    display: block;
    margin-left: 70px;
  }
  
  @media screen and (max-width:680px) {
  
    #maincontent {
      width: auto;
      float: none;
    }
  
    #sidebar {
      width: auto;
      float: none;
    }
  }
  