.container-fluid {
  background-image: url("https://i.pinimg.com/originals/9d/ef/63/9def639dec911f46220861c75da954a2.jpg");
  background-size: cover;
}

.navbarComp {
  margin-bottom: 50px;
}
.navbar {
  font-family: "Poppins", sans-serif;
  color: cornsilk;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding:0;
  border-bottom: 1px solid maroon;
}

.box1 {
  border-radius: 15px;
  padding: 5px;
  margin-left: 150px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: maroon;
  color: cornsilk;
  width: 150px;
  height: 61px;
}

.box1:hover {
  color: #c3f8ff;
  background-color: #ffe3e1;
  transition: 1s;
}

.box2 {
  border-radius: 15px;
  padding: 5px;
  margin-left: 50px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: maroon;
  color: cornsilk;
  width: 150px;
  height: 61px;

}

.box2:hover {
  color: #c3f8ff;
  background-color: #ffe3e1;
  transition: 1s;
}

.box3 {
    border-radius: 15px;
    padding: 5px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px #ffe3e1;
    border: 1px solid white;
    background-color: maroon;
    color: cornsilk;
    width: 150px;
    height: 61px;
  }

.box3:hover {
  background-color: #ffe3e1;
  transition: 1s;
}

.box4 {                                                                                                                   
  border-radius: 15px;
  padding: 5px;
  margin-left: 50px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: maroon;
  color: cornsilk;
  width: 130px;
  height: 61px;
}

.box4:hover {
  color: maroon;
  background-color: #c3f8ff;
  transition: 1s;
}

.box5 {
  border-radius: 15px;
  padding: 5px;
  margin-left: 200px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: maroon;
  color: cornsilk;
  width: 130px;
  height: 61px;
}

.box5:hover {
  color: maroon;
  background-color: #ffe3e1;
  transition: 1s;
  }

.box6 {
  border-radius: 15px;
  padding: 5px;
  margin-left: 200px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: maroon;
  color: cornsilk;
  width: 130px;
  height: 61px;
}
.box6:hover {
  color: maroon;
  background-color: #ffe3e1;
  transition: 1s;
}

@media screen and (max-width: 680px) {
  #maincontent {
    width: auto;
    float: none;
  }

  #sidebar {
    width: auto;
    float: none;
  }
}
