<template>
  <div id="/cart">
    <NavBar />
    <SideBar />
    <h1 class="container" style="color: maroon;">Keranjang</h1>
    <br />
    <br />
    <div class="container">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nama Barang</th>
            <th scope="col">Image</th>
            <th scope="col">Harga</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(makanan, index) in cart"
            :key="makanan.id"
            style="background-color: white"
          >
            <td>{{ index + 1 }}</td>
            <td>{{ makanan.name }}</td>
            <td>
              <img :src="makanan.image" alt="" width="100" height="100" />
            </td>
            <td>
              {{
                makanan.harga.toLocaleString("id-ID", {
                  style: "currency",
                  currency: "IDR",
                })
              }}
            </td>
            <td>
              <button class="btn btn-danger" @click="hapusCart(makanan)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        Total Harga :
        {{
          TotalHarga.toLocaleString("id-ID", {
            style: "currency",
            currency: "IDR",
          })
        }}
      </p>
      <button @click="checkout()" class="btn btn-success">Checkout</button>
    </div>
  </div>
</template>

<script>
import NavBar from "../components/Navbar.vue";
import SideBar from "../components/SideBar.vue";
import Swal from "sweetalert2";
export default {
  name: "CartPage",
  components: {
    SideBar,
    NavBar,
  },
  computed: {
    TotalHarga() {
      return this.cart.reduce((a, b) => a + b.harga, 0);
    },
  },
  methods: {
    hapusCart(makanan) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.setCart(this.cart.filter((x) => x.id !== makanan.id));
          Swal.fire("Deleted!", "Your file has been deleted.", "success");
        }
      });
    },
    checkout() {
      if (!this.TotalHarga)
        return Swal.fire("Failed :(", "Please select the item", "error");
      Swal.fire("Checkout Successful!", "Thank you for shopping", "success");
      window.location.reload()
    },
  },
  props: {
    cart: Array,
    setCart: Function,
  },
};
</script>
