<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 37rem">
      <h1>Menu Alat Makan</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(altmakan, index) in alatmakans" :key="altmakan.id">
          <td>{{ index + 1 }}</td>
          <td>{{ altmakan.name }}</td>
          <td>
            <img :src="altmakan.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ altmakan.deskripsi }}
            </div>
          </td>
          <td>{{ altmakan.type }}</td>
          <td>
            {{
              altmakan.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="altmakananDetail(altmakan)"
                data-bs-toggle="modal"
                data-bs-target="#altmakananDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beli(altmakan)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="altmakananDetail"
      tabindex="-1"
      aria-labelledby="jatengDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="jatengDetailLabel">
              Modal {{ formalatmkn.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formalatmkn.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formalatmkn.name }}</li>
                <li><strong>Jemis :</strong> {{ formalatmkn.type }}</li>
                <li>
                  <strong>Deskripsi :</strong> {{ formalatmkn.deskripsi }}
                </li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formalatmkn.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "AlatMakan",
  components: {
    SideBar,
  },
  data() {
    return {
      formalatmkn: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      alatmakans: "",
      updateSubmitaltmakanan: false,
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadaltmakanan();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadaltmakanan() {
      axios
        .get("http://localhost:3000/alatmakans")
        .then((res) => {
          this.alatmakans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    altmakananDetail(altmakan) {
      this.formalatmkn.id = altmakan.id;
      this.formalatmkn.name = altmakan.name;
      this.formalatmkn.category = altmakan.category;
      this.formalatmkn.type = altmakan.type;
      this.formalatmkn.harga = altmakan.harga;
      this.formalatmkn.image = altmakan.image;
      this.formalatmkn.deskripsi = altmakan.deskripsi;
    },
    beli(altmakan) {
      this.setCart([...this.cart, altmakan]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}
</style>
