<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 40rem">
      <h1>Menu Alat Tulis</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(tulis, index) in alattulis" :key="tulis.id">
          <td>{{ index + 1 }}</td>
          <td>{{ tulis.name }}</td>
          <td>
            <img :src="tulis.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ tulis.deskripsi }}
            </div>
          </td>
          <td>{{ tulis.type }}</td>
          <td>
            {{
              tulis.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="tulisanDetail(tulis)"
                data-bs-toggle="modal"
                data-bs-target="#tulisanDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beli(tulis)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="tulisanDetail"
      tabindex="-1"
      aria-labelledby="jatengDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="jatengDetailLabel">
              Modal {{ formtulis.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formtulis.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formtulis.name }}</li>
                <li><strong>Jenis :</strong> {{ formtulis.type }}</li>
                <li><strong>Deskripsi :</strong> {{ formtulis.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formtulis.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "AlatTulis",
  components: {
    SideBar,
  },
  data() {
    return {
      formtulis: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      alattulis: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadtulisan();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadtulisan() {
      axios
        .get("http://localhost:3000/alattulis")
        .then((res) => {
          this.alattulis = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    tulisanDetail(tulis) {
      this.formtulis.id = tulis.id;
      this.formtulis.name = tulis.name;
      this.formtulis.category = tulis.category;
      this.formtulis.type = tulis.type;
      this.formtulis.harga = tulis.harga;
      this.formtulis.image = tulis.image;
      this.formtulis.deskripsi = tulis.deskripsi;
    },
    beli(tulis) {
      this.setCart([...this.cart, tulis]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}
</style>
