<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="color: maroon; gap: 33rem">
      <h1>Menu Alat Kebersihan</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(bersih, index) in alatkebersihans" :key="bersih.id">
          <td>{{ index + 1 }}</td>
          <td>{{ bersih.name }}</td>
          <td>
            <img :src="bersih.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ bersih.deskripsi }}
            </div>
          </td>
          <td>{{ bersih.type }}</td>
          <td>
            {{
              bersih.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="kebersihanDetail(bersih)"
                data-bs-toggle="modal"
                data-bs-target="#kebersihanDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beliKebersihan(bersih)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="kebersihanDetail"
      tabindex="-1"
      aria-labelledby="kebersihanDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="kebersihanDetailLabel">
              {{ formBersih.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formBersih.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formBersih.name }}</li>
                <li><strong>Jenis :</strong> {{ formBersih.type }}</li>
                <li><strong>Deskripsi :</strong> {{ formBersih.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formBersih.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "AlatKebersihan ",
  components: {
    SideBar,
  },
  data() {
    return {
      formBersih: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      alatkebersihans: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadBersih();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadBersih() {
      axios
        .get("http://localhost:3000/alatkebersihans")
        .then((res) => {
          this.alatkebersihans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    kebersihanDetail(bersih) {
      this.formBersih.id = bersih.id;
      this.formBersih.name = bersih.name;
      this.formBersih.category = bersih.category;
      this.formBersih.type = bersih.type;
      this.formBersih.harga = bersih.harga;
      this.formBersih.image = bersih.image;
      this.formBersih.deskripsi = bersih.deskripsi;
    },
    beliKebersihan(bersih) {
      this.setCart([...this.cart, bersih]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: maroon;
}
.cart {
  display: flex;
  color: maroon;
}
thead {
  background-color: maroon;
  color: cornsilk;
}
.table {
  background-color: cornsilk;
}
.modal-header {
  background-color: maroon;
  color: cornsilk;
}
.modal-body {
  background-color: cornsilk;
}
.modal-footer {
  background-color: cornsilk;
}
</style>
