<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 30rem">
      <h1>Menu Makanan Instant</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(instant, index) in makananinstans" :key="instant.id">
          <td>{{ index + 1 }}</td>
          <td>{{ instant.name }}</td>
          <td>
            <img :src="instant.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ instant.deskripsi }}
            </div>
          </td>
          <td>{{ instant.type }}</td>
          <td>
            {{
              instant.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="makananDetail(instant)"
                data-bs-toggle="modal"
                data-bs-target="#makananDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beli(instant)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="makananDetail"
      tabindex="-1"
      aria-labelledby="jatengDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="jatengDetailLabel">
              Modal {{ form.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="form.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ form.name }}</li>
                <li><strong>Jenis :</strong> {{ form.type }}</li>
                <li><strong>Deskripsi :</strong> {{ form.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    form.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "MakananInstant",
  components: {
    SideBar,
  },
  data() {
    return {
      form: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      makananinstans: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadMakanan();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadMakanan() {
      axios
        .get("http://localhost:3000/makananinstans")
        .then((res) => {
          this.makananinstans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    makananDetail(instant) {
      this.form.id = instant.id;
      this.form.name = instant.name;
      this.form.category = instant.category;
      this.form.type = instant.type;
      this.form.harga = instant.harga;
      this.form.image = instant.image;
      this.form.deskripsi = instant.deskripsi;
    },
    beli(instant) {
      this.setCart([...this.cart, instant]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
  color: black;
}
.cart {
  display: flex;
  gap: 50rem;
}
</style>
