<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 33rem">
      <h1>Menu Makanan Ringan</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(snack, index) in makananringans" :key="snack.id">
          <td>{{ index + 1 }}</td>
          <td>{{ snack.name }}</td>
          <td>
            <img :src="snack.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ snack.deskripsi }}
            </div>
          </td>
          <td>{{ snack.type }}</td>
          <td>
            {{
              snack.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="snackDetail(snack)"
                data-bs-toggle="modal"
                data-bs-target="#snackDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beliSnack(snack)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="snackDetail"
      tabindex="-1"
      aria-labelledby="snackDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="snackDetailLabel">
              Modal {{ formSncakk.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formSncakk.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formSncakk.name }}</li>
                <li><strong>Jenis :</strong> {{ formSncakk.type }}</li>
                <li><strong>Deskripsi :</strong> {{ formSncakk.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formSncakk.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "MakananRingan",
  components: {
    SideBar,
  },
  data() {
    return {
      formSncakk: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      makananringans: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadSnackk();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadSnackk() {
      axios
        .get("http://localhost:3000/makananringans")
        .then((res) => {
          this.makananringans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    snackDetail(snack) {
      this.formSncakk.id = snack.id;
      this.formSncakk.name = snack.name;
      this.formSncakk.category = snack.category;
      this.formSncakk.type = snack.type;
      this.formSncakk.harga = snack.harga;
      this.formSncakk.image = snack.image;
      this.formSncakk.deskripsi = snack.deskripsi;
    },
    beliSnack(snack) {
      this.setCart([...this.cart, snack]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.modal-body {
  display: flex;
}
</style>
