<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 33rem">
      <h1>Menu Minuman Instant</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(minuminstan, index) in minumaninstants"
          :key="minuminstan.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ minuminstan.name }}</td>
          <td>
            <img :src="minuminstan.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ minuminstan.deskripsi }}
            </div>
          </td>
          <td>{{ minuminstan.type }}</td>
          <td>
            {{
              minuminstan.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="minuminstanDetail(minuminstan)"
                data-bs-toggle="modal"
                data-bs-target="#minuminstanDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beliminuminstan(minuminstan)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="minuminstanDetail"
      tabindex="-1"
      aria-labelledby="minuminstandetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="minuminstandetailLabel">
              Modal {{ formminum.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formminum.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formminum.name }}</li>
                <li><strong>Jenis :</strong> {{ formminum.type }}</li>
                <li><strong>Deskripsi :</strong> {{ formminum.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formminum.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "AlatKeminuminstanan ",
  components: {
    SideBar,
  },
  data() {
    return {
      formminum: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      minumaninstants: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadminuminstan();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadminuminstan() {
      axios
        .get("http://localhost:3000/minumaninstants")
        .then((res) => {
          this.minumaninstants = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    minuminstandetail(minuminstan) {
      this.formminum.id = minuminstan.id;
      this.formminum.name = minuminstan.name;
      this.formminum.category = minuminstan.category;
      this.formminum.type = minuminstan.type;
      this.formminum.harga = minuminstan.harga;
      this.formminum.image = minuminstan.image;
      this.formminum.deskripsi = minuminstan.deskripsi;
    },
    beliminuminstan(minuminstan) {
      this.setCart([...this.cart, minuminstan]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}
</style>
