<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 35rem">
      <h1 style="color: maroon">Menu Obat-Obatan</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(obat, index) in obats" :key="obat.id">
          <td>{{ index + 1 }}</td>
          <td>{{ obat.name }}</td>
          <td>
            <img :src="obat.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ obat.deskripsi }}
            </div>
          </td>
          <td>{{ obat.type }}</td>
          <td>
            {{
              obat.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="obatDetail(obat)"
                data-bs-toggle="modal"
                data-bs-target="#obatDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beliObat(obat)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="obatDetail"
      tabindex="-1"
      aria-labelledby="obatDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="obatDetailLabel">
              Modal {{ formObat.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formObat.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formObat.name }}</li>
                <li><strong>Jenis :</strong> {{ formObat.type }}</li>
                <li><strong>Deskripsi :</strong> {{ formObat.deskripsi }}</li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formObat.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "ObatObatan ",
  components: {
    SideBar,
  },
  data() {
    return {
      formObat: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      obats: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadObat();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadObat() {
      axios
        .get("http://localhost:3000/obats")
        .then((res) => {
          this.obats = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    obatDetail(obat) {
      this.formObat.id = obat.id;
      this.formObat.name = obat.name;
      this.formObat.category = obat.category;
      this.formObat.type = obat.type;
      this.formObat.harga = obat.harga;
      this.formObat.image = obat.image;
      this.formObat.deskripsi = obat.deskripsi;
    },
    beliObat(obat) {
      this.setCart([...this.cart, obat]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
</style>
