<template>
  <div>
    <SideBar />
    <!-- menu -->
    <div class="cart container" style="gap: 28rem">
      <h1 style="color: maroon">Menu Perlengkapan Sekolah</h1>
      <router-link to="/cart" v-if="userAccess"
        ><i class="fas fa-cart-plus"></i> Cart</router-link
      >
    </div>
    <br />
    <table class="table table-hover container">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Gambar</th>
          <th style="width: 400px">Deskripsi</th>
          <th>Jenis</th>
          <th>Harga</th>
          <th style="width: 200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(sekolah, index) in perlengkapansekolahs" :key="sekolah.id">
          <td>{{ index + 1 }}</td>
          <td>{{ sekolah.name }}</td>
          <td>
            <img :src="sekolah.image" alt="" width="100" height="100" />
          </td>
          <td>
            <div style="text-align: justify">
              {{ sekolah.deskripsi }}
            </div>
          </td>
          <td>{{ sekolah.type }}</td>
          <td>
            {{
              sekolah.harga.toLocaleString("id-ID", {
                style: "currency",
                currency: "IDR",
              })
            }}
          </td>
          <td>
            <div style="display: flex; gap: 3px">
              <button
                type="button"
                class="btn btn-primary"
                @click="sekolahDetail(sekolah)"
                data-bs-toggle="modal"
                data-bs-target="#sekolahDetail"
              >
                View <i class="fas fa-eye"></i>
              </button>
              <button
                @click="beliSekolah(sekolah)"
                class="btn btn-success"
                v-if="userAccess"
              >
                Buy <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- MODAL DETAIL -->
    <div
      class="modal fade"
      id="sekolahDetail"
      tabindex="-1"
      aria-labelledby="sekolahDetailLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="sekolahDetailLabel">
              Modal {{ formSekolah.category }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- table modal -->
          <div class="modal-body">
            <div class="img">
              <img :src="formSekolah.image" alt="" width="100" height="100" />
            </div>
            <div class="view">
              <ul>
                <li><strong>Name :</strong> {{ formSekolah.name }}</li>
                <li><strong>Jenis :</strong> {{ formSekolah.type }}</li>
                <li>
                  <strong>Deskripsi :</strong> {{ formSekolah.deskripsi }}
                </li>
                <li>
                  <strong>Harga :</strong>
                  {{
                    formSekolah.harga.toLocaleString("id-ID", {
                      style: "currency",
                      currency: "IDR",
                    })
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import SideBar from "../components/SideBar.vue";
export default {
  name: "PerlengkapansekolahPage",
  components: {
    SideBar,
  },
  data() {
    return {
      formSekolah: {
        id: "",
        name: "",
        image: "",
        type: "",
        harga: "",
        deskripsi: "",
        category: "",
      },
      perlengkapansekolahs: "",
    };
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  mounted() {
    this.loadSekolahh();
  },
  computed: {
    userAccess() {
      return sessionStorage.getItem("role") === "user";
    },
  },
  methods: {
    loadSekolahh() {
      axios
        .get("http://localhost:3000/perlengkapansekolahs")
        .then((res) => {
          this.perlengkapansekolahs = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    sekolahDetail(sekolah) {
      this.formSekolah.id = sekolah.id;
      this.formSekolah.name = sekolah.name;
      this.formSekolah.category = sekolah.category;
      this.formSekolah.type = sekolah.type;
      this.formSekolah.harga = sekolah.harga;
      this.formSekolah.image = sekolah.image;
      this.formSekolah.deskripsi = sekolah.deskripsi;
    },
    beliSekolah(sekolah) {
      this.setCart([...this.cart, sekolah]);
      Swal.fire({
        icon: "success",
        title: "Successfully added to cart!",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style>
.SideBar {
  position: fixed;
}
.modal-body {
  display: flex;
}
.cart > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
</style>
