<template>
  <div class="all">
    <Navbar />
    <div class="homeStyle">
    <h1 class="paragraf"> 
      Welcome to Warung Online<span v-if="User">, User</span 
      ><span v-if="Admin">, Admin</span> 
    </h1>      
    <div id="home" class="all">
        <!-- home content start -->
        <br/>
        <div class="pembuka">
          <h1>
            <strong>Complete your needs at</strong>
            <span class="warung">Warung Online </span>
          </h1>
        </div>
        <br/>

        <!-- Caousel start -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false"
          style="width:700px; height:700px; margin-left: auto; margin-right: auto; border: 3px solid maroon; margin-top: 20px;;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/08/08/promo-88-kopkenjpg-20210808121905.jpg"
                class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
              <img src="https://cf.shopee.co.id/file/6485e3071a43c83afb1cc2757051640f" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
              <img src="https://foto.kontan.co.id/96jpGJl4_SJVQeKWxcguIcjJPL0=/smart/2021/07/01/32328282p.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://images.tokopedia.net/img/cache/700/VqbcmM/2022/1/11/56973130-aeda-4c49-bbef-a8ae4b6ec063.jpg"
                class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <br/>
        <!-- carousel end -->


        <!-- Footer start -->
        <div class="footer">
          <br />
          <div class="kotak">
            <div class="footerGerai">
              <img
                src="https://play-lh.googleusercontent.com/LIC6tL_rXgmmV2_wd1y7IOKUPDxDADzPIm9tlUQIaqdxyw_FXb74z4NigCqEWVavHS8=w240-h480-rw"
                alt="" style="width: 150px; ">
              <h5 style="color:maroon; font-size:25px">Warung Online</h5>
            </div><br />
            <div class="alamat">
              <h4 style="color:maroon" class="h4"><iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.2859194787156!2d110.29925951431767!3d-6.975553870242162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e705fdc0235654d%3A0x97b3afe1b2104e70!2sSMK%20Bina%20Nusantara%20Semarang!5e0!3m2!1sid!2sid!4v1666691379174!5m2!1sid!2sid"
                  width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
                <i class="fas fa-map-marker-alt"></i> Alamat
              </h4>
            </div>
          </div>

          <div class="bullet">
            <p class="nav-item"
              style="background-color:maroon; border-radius:15px; padding:10px; width: 110px; height: 50px; font-size: 20px; text-align:center">
              <router-link class="nav-link" to="/"><i class="fas fa-home-lg-alt"></i> Home</router-link>
            </p>
            <p class="nav-item"
              style="background-color:maroon; border-radius:15px; padding:10px; width: 110px; height: 50px; font-size: 20px; text-align:center">
              <routerLink class="nav-link" to="/menu"><i class="fas fa-bars"></i> Menu</routerLink>
            </p>
          </div>

          <div class="sosmed">
            <h3 class="text-sosmed"><i class="far fa-heart"></i> Media Social</h3>
            <div class="icon">
              <div class="instagram"
                style="border:1px solid black; border-radius: 100%;width: 60px;height: 60px; padding: 9px;background-color: white;">
                <a target="_blank" href="https://www.instagram.com/smkbinanusantara_smg/"><i style="color:purple;"
                    class="fab fa-instagram"></i></a>
              </div>
              <div class="icon1"
                style="border:1px solid black; border-radius: 100%;width: 60px;height: 60px; padding: 9px; background-color: white;background-color: white;">
                <a target="_blank"
                  href="https://id-id.facebook.com/people/SMK-BINA-NUSANTARA-SEMARANG/100066761351507/"><i
                    style="color:blue;" class="fab fa-facebook"></i></a>
              </div>
              <div class="icon1"
                style="border:1px solid black; border-radius: 100%;width: 60px;height: 60px; padding: 9px;background-color: white;">
                <a target="_blank" href="https://www.youtube.com/channel/UCw5YNITJ8UTpWB9N55saWhw"><i style="color:red;"
                    class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p class="copyright"><i class="far fa-copyright"></i> Copyright --Kelompok 1-- </p>
        </div>
        <!-- footer end -->
      </div>
    </div>
  </div>
</template>

<script>

import Navbar from "../components/Navbar.vue";
import "../assets/style/home.css";
export default {
  name: "HomePage",
  components: {
    Navbar,

  },
computed: { 
    User() { 
      return sessionStorage.getItem("role") === "user"; 
    }, 
    Admin() { 
      return sessionStorage.getItem("role") === "admin"; 
    }, 
  },};

</script>
