<template>
  <div class="navbarComp">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <img
          src="https://play-lh.googleusercontent.com/LIC6tL_rXgmmV2_wd1y7IOKUPDxDADzPIm9tlUQIaqdxyw_FXb74z4NigCqEWVavHS8=w240-h480-rw"
          alt="" style="width:150px;  height:150px">

        <h3 style="color:maroon;" class="h3"> Warung <span style="display: block">Online</span> </h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <div class="box1">
              <li class="nav-item">
                <router-link class="nav-link" to="/" style="color: cornsilk; font-size: 20px; text-align: center"><i
                    class="fas fa-home-lg-alt"> </i> Home</router-link>
              </li>
            </div>

            <div class="box2">
              <li class="nav-item">
                <router-link class="nav-link" to="/menu" style="color: cornsilk; font-size: 20px; text-align: center"><i
                    class="fas fa-bars"></i> Menu</router-link>
              </li>
            </div>
            <div class="box3" v-if="adminAccess">
              <li class="nav-item">
                <router-link class="nav-link" to="/data" style="color: cornsilk; font-size: 20px;"><i class="fas fa-table"></i> Category</router-link>
              </li>
            </div>

            <div class="box4" v-if="userAccess"> 
              <li class="nav-item"> 
                <router-link 
                  class="nav-link" 
                  to="/cart" 
                  style=" font-size: 20px; text-align: center; color: cornsilk" 
                  ><i class="fas fa-cart-plus"></i> Cart</router-link 
                > 
              </li> 
            </div>

            <div class="box5" v-if="!loggedIn"> 
              <li> 
                <p 
                  @click="loginadmin()" 
                  style=" font-size: 20px; text-align: center" 
                > 
                  <i class="fas fa-door-open"></i> Login 
                </p> 
              </li> 
            </div> 
            <div 
              class="box6" 
              v-if="loggedIn" 
              style=" font-size: 20px; text-align: center" 
            > 
              <li> 
                <p 
                  @click="out()" 
                  style=" font-size: 20px; text-align: center" 
                > 
                  <i class="fas fa-sign-out-alt"></i> Log Out 
                </p> 
              </li> 
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</template>

<script>
import "../assets/style/navbar.css"
export default {
  name: "NavbarPage",
  computed: { 
    loggedIn() { 
      return sessionStorage.getItem("USER_DATA"); 
    }, 
    adminAccess() { 
      return sessionStorage.getItem("role") === "admin"; 
    }, 
    userAccess() { 
      return sessionStorage.getItem("role") === "user"; 
    }, 
  }, 
  methods: { 
    out() { 
      sessionStorage.clear(); 
      window.location.reload(); 
      this.$router.push("/"); 
    }, 
    loginadmin() { 
      this.$router.push("/login"); 
    }, 
  },
}


</script>


