<template>
  <div>
    <button
      class="boxSidebar"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
    >
      <i class="fas fa-bars"></i> MENU
    </button>

    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel"
    >
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
          <img
            src="https://play-lh.googleusercontent.com/LIC6tL_rXgmmV2_wd1y7IOKUPDxDADzPIm9tlUQIaqdxyw_FXb74z4NigCqEWVavHS8=w240-h480-rw"
            width="100"
            height="100"
            alt=""
          />
          <span class="binusa">Warung Online</span>
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="btn-sidebar">
          <router-link to="/menu"
            ><i class="fas fa-utensils"></i> MAKANAN INSTANT</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/makananringan"
            ><i class="fas fa-cookie-bite"></i> MAKANAN RINGAN</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/minumandingin"
            ><i class="fas fa-ice-cream"></i> MINUMAN DINGIN</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/minumaninstant"
            ><i class="fas fa-wine-bottle"></i> MINUMAN INSTANT</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/obat"
            ><i class="fas fa-pills"></i> OBAT</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/perlengkapansekolah"
            ><i class="fas fa-pencil-ruler"></i> PERLENGKAPAN
            SEKOLAH</router-link
          >
        </div>

        <div class="btn-sidebar">
          <router-link to="/alattulis"
            ><i class="fas fa-pen-alt"></i> ALAT TULIS</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/buku"><i class="fas fa-book"></i> BUKU</router-link>
        </div>
        <div class="btn-sidebar">
          <router-link to="/alatmakan"
            ><i class="fas fa-utensil-spoon"></i> ALAT MAKAN</router-link
          >
        </div>
        <div class="btn-sidebar">
          <router-link to="/alatkebersihan"
            ><i class="fas fa-broom"></i> ALAT KEBERSIHAN</router-link
          >
        </div>
        <div class="tbl-login">
          <a href="/login" v-if="!loggedIn" class="btn btn-success">
            <i class="fas fa-door-open"></i> Login
          </a>
          <a href="/" v-if="loggedIn" @click="logout" class="btn btn-danger">
            Logout <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  computed: {
    loggedIn() {
      return JSON.parse(sessionStorage.getItem("USER_DATA"));
    },
  },
  methods: {
    logout() {
      sessionStorage.clear();
    },
  },
};
</script>

<style>
.boxSidebar {
  border-radius: 15px;
  padding: 10px;
  margin: 20px 10px;
  box-shadow: 2px 2px 2px #ffe3e1;
  border: 1px solid white;
  background-color: cornsilk;
  color: maroon;
  font-size: 22px;
}

.offcanvas-body {
  background-image: url("https://i.pinimg.com/originals/9d/ef/63/9def639dec911f46220861c75da954a2.jpg");
  background-size: cover;
  line-height: 1.8;
}
.offcanvas-header {
  border-bottom: 2px solid;
  background-color: white;
  text-align: center;
}
.offcanvas-title {
  display: flex;
}
.kategory {
  text-align: center;
}
.btn-sidebar {
  display: block;
  font-size: 20px;
  padding: 1.5px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(180, 2, 2);
}
.tbl-login {
  margin-top: 40px;
  text-align: center;
}
</style>
