<template>
  <div id="app">
    <router-view :cart="cart" :setCart="setCart" />
  </div>
</template>

<script>
/// import Home from "../src/components/Home.vue";
export default {
  name: 'App',
  data() {
    return {
      // penampung data cart
      cart: [],
    };
  },
  methods: {
    // mengubah isi cart
    setCart(cartBaru) {
      this.cart = cartBaru;
    },
  }
}
</script>

